# Ignore data and schema directories
# Ignore schema directory
schema/

# Do not ignore specific data files/directories that will be managed by Git LFS
!data/dataset/
!data/projet_annotation_sante_final_M1.csv

# Ignore Python virtual environment
intention_env_setup/
new_intention_env/
intention-env/

.env