# Must keep the following specific data files/directories
!data/dataset/
!data/projet_annotation_sante_final_M1.csv

# Ignore Python virtual environment
intention_env_setup/
new_intention_env/
intention-env/

.env
# Large model files
*.pth

# Ignored data files
*.xlsx

# macOS specific files
.DS_Store